[MASTER]
# https://github.com/samuelcolvin/pydantic/issues/1961
extension-pkg-whitelist=pydantic

[MESSAGES CONTROL]

disable =
    # On purpose disabled as we rely on black
    line-too-long,
    # TODO(ssbarnea): remove temporary skips adding during initial adoption:
    missing-module-docstring,
    missing-class-docstring,
    too-few-public-methods,
    duplicate-code,
    arguments-differ,
